doctype html
html
  head
    title= "Hacking"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/styles/main.css")
    
    //For some reason browser-sync-client library doesn't work for me.
    //So I took a file from a network, which we can get via 3000 port
    script(src="browser-sync-client.2.12.8.js")
    
  body
    h1 Hacking 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
    
